[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.1"
djangorestframework = "==3.13.1"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
pillow = "*"
django-cleanup = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
